.contactHeader {
    display: flex;
    align-items: center;
}

.contactLogo {
    width: 64px;
    height: 64px;
    filter: grayscale(100%);
    margin-right: 0.8rem;
}

.contactIcon {
    width: 24px;
    height: 24px;
}

.contactMapIcon {
    width: 48px;
    height: 48px;
    margin-right: 0.8rem;
}

.cardInfo p {
    margin-left: 0.7em;
}

.cardImg {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.cardImg h5 {
    margin-left: 10px;
    padding: 0;
}

.cardTextBold {
    font-weight: bold;
}