.homeJumbotron {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
}

.highlight {
  color: #e31e24;
}

.lead {
  font-weight: 400;
}

.homeButton {
  margin-top: 1.3em;
  background-color: #e31e24;
  border: 0;
}