.homeJumbotron {
  margin-bottom: 0;
}

.homeJumbotron h1 {
  color: #2b2a29;
  text-align: center;
  margin-bottom: 1rem;
}

.homeJumbotron h3 {
  color: #2b2a29;
  text-align: center;
  margin: 3rem 0 1rem;
}

.highlight {
  color: #e31e24;
  position: relative;
}

.buttonContainer a {
  font-weight: bold;
}

.homeButton {
  max-width: 150px;
  margin: 0 auto;
}
