.servicesHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.servicesHeader span {
    font-weight: 700;
    margin-left: 1em;
}

.servicesCard {
    transition: 300ms ease-in all;
}

.servicesCard:hover {
    background-color: #E8E8E8;
}